body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: darkblue;
}

a {
  color: #00B7FF;
}

h1, p {
  text-align: right;
}

div {
  text-align: center;
}

button {
  width: 30px;
  height: 20px;
  display: inline-block;
}